body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #fff; }

h1 {
  font-size: large;
  font-weight: bold; }

h2 {
  font-size: medium; }

h3 {
  font-style: italic; }

.dropdown-wrapper {
  border: 3px solid black;
  border-radius: 10px;
  width: 285px;
  margin: 5px;
  padding: 5px; }

.card-wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%; }

.card {
  display: flex;
  border: 3px solid #3575eb;
  border-radius: 10px;
  min-width: 285px;
  max-width: 320px;
  margin: 5px;
  padding: 5px;
  background-color: #bee893; }

.house-img {
  width: 200px; }

.villager-img {
  width: 70px; }
